:root{
    --lighting-color:#0089b7;
    --dark-color:#003d62;
    --darker-color:#003251;
    --secondary-color:#fff700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    /*  1rem =16px */
    /* 1rem =10px */
}
html,body{
    font-family:sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}
body{
    font-size: 1.4rem;

}
.container{
    max-width: 1300px;
    margin: 0 auto;
    /* padding: 0 2rem; */
}
header{
    background: var(--lighting-color);

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    align-items: center;
}
nav li{
    font-size: 1.8rem;
    border-bottom: 0.4rem solid  transparent;
    transition: 0.3s ease-in-out;
}
nav li:hover{
    border-bottom: 0.4rem solid  var(--secondary-color);
    transition: 0.3s ease-in-out;

}
nav a{
    text-decoration: none;
    color: white;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
}
#hero{
    background: var(--darker-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--lighting-color);
}
#hero .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero_image img{
    border-radius: 50%;
}
.hero_content{
    display: grid;
    place-items: center;
}
#hero h1{
    font-size: 3rem;
    font-weight: bold;
}
.hi_text{
    font-size: 6rem;
    font-weight: bold;
    color: #fff700;
}
.name_text{
    font-size: 5rem;
}
#hero h2{
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(40 ,end), blink-caret 0.75s step-end infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink-caret{
    from,to{
        border-color: transparent;
    }
    50%{
         border-color: orange;
    }
}
/* project section */
#Project{
    background-color: #003d62;
}
#Project h2{
    font-size: 6rem;
    text-align: center;
    padding:2rem 0;
}
.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px ,1fr));
    grid-gap: 2rem;
}

.grid_item{
    display: grid;
    place-items: center;
}
.card{
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card-content{
    padding: 2rem ;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}
.card:hover .card-content{
    background: white;
    color: #003d62;
    transform: translateY(0px);
}
.card-content{
    text-align: center;
}
/* contact section */
#Contact{
    background:#153f59;
    /* color: black; */
}
#Contact h2{
    font-size: 6rem;
    align-items: center;
    margin: 2rem auto;
}
#Contact .container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}
.top_contact{
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
}
.contact_way{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.contact_way i{
    font-size: 3rem;
}
.contact_way h3{
    font-size: 3rem;
    font-weight: bold;
}
.bottom_contact{
    max-width: 400px;
    display: grid;
    gap: 2rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
}
/* footetr */
footer{
    background: #000;
    color: wheat;
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
}
/* media query */
@media (max-width:786px){
    html{
        font-size: 40%;
    }
    #hero .container{
        flex-direction: column;
    }
    .hero_image{
        display: grid;
        place-items: center ;
    }
    #Contact .container{
        height: 70vh;
    }
}
@media (max-width:500px){
    html{
        font-size: 32%;
    }
    #hero .container{
        flex-direction: column;
    }
    .hero_image{
        display: grid;
        place-items: center ;
    }
    #Contact .container{
        height: 50vh;
    }
}